/* Reset og border-box á allt */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  overflow: hidden scroll;
}

html, body, #root, .Wrapper {
  min-height: 100vh;
}

.tempTitle {
  -webkit-text-stroke: 2px black; /* width and color */
  color: rgb(43, 139, 146);
}

.Wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  background: center url("../myndir/LeagueBackground.webp");
  background-size: cover; /* or contain, or specify dimensions */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1400px;
  width: 100%;
  gap: 1rem;
}

.header {
  -webkit-text-stroke: 2px black; /* width and color */
  color: rgb(43, 139, 146);
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 2rem;
}

.cards {
  display: grid;
  margin: 1rem 0;
  grid-template-columns: repeat(12, 1fr);
  width: calc(100% - (2 * 20px));
  gap: 3rem;
  /* max-width: 90%; */
}

.card img {
  border-radius: 10px;
  margin-bottom: 1rem;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  background-color: rgba(159, 243, 239, 0.264);
  border-radius: 40px;
  padding:1rem
}

.col-n {
  grid-column-end: span 2;
}

@media (max-width:1350px) {
  .col-n {
    grid-column-end: span 3;
  }
}

@media (max-width:1000px) {
  .col-n {
    grid-column-end: span 4;
  }
}

@media (max-width:700px) {
  .col-n {
    grid-column-end: span 6;
  }
}

.championName {
  font-size: x-large;
}

.championTitle {
  font-size: 12px;
}

.tags {
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

.tag {
  background-color: rgba(183, 124, 241, 0.441);
  color: white;
  padding: 10px;
  border-radius: 20px;

}

.tag:hover {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}