/* Reset og border-box á allt */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden scroll;
}

#root {
  min-height: 100vh;
}

html, body, .wrapper {
  min-height: 100vh;
}
  