.back-link {
    -webkit-text-stroke: 0.5px #000; /* width and color */
    text-decoration: none; /* Removes underline */
    border: 1px solid #ffffff;
    padding: 1rem;
    border-radius: 5px;
    background-color: #0c1a1556;
    color: rgb(43, 139, 146);
    font-size: 15px;
}