.back-link {
    -webkit-text-stroke: 0.5px #000; /* width and color */
    text-decoration: none; /* Removes underline */
    border: 1px solid #ffffff;
    padding: 1rem;
    border-radius: 5px;
    background-color: #0c1a1556;
    color: rgb(43, 139, 146);
    font-size: 1rem; /* Scales with screen size */
}

.skins-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns by default */
    max-width: 950px;
    gap: 2rem;
    place-items: center;
    width: 100%;
}

@media (max-width: 999px) {
    .skins-grid {
        grid-template-columns: repeat(1, 1fr); /* Switch to one column */
        max-width: 80%; /* Use percentage for better adaptability */
        margin: 0 auto; /* Center the grid on smaller screens */
    }
}

.skins-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.skin-image {
    border-radius: 10px;
    max-width: 100%; /* Ensures it scales with the container */
    height: auto;
    border: 2px solid rgb(43, 139, 146);
}

.skin-name {
    color: rgb(245, 248, 248);
    font-size: 1.2rem;
    -webkit-text-stroke: 1px #000; /* width and color */
    text-align: center;
    margin-top: 0.5rem;
}

.skins-h2, .lore-h2 {
    color: rgb(203, 255, 255);
    font-size: 1.8rem;
    -webkit-text-stroke: 1px #000;
    text-align: center;
}

.lore-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem auto;
    width: 90%; /* Shrinks to fit smaller screens */
    max-width: 950px;
    background-color: rgba(43, 139, 146, 0.714);
    border-radius: 10px;
    padding: 1rem;
    color: rgb(245, 248, 248);
}
