.header {
  -webkit-text-stroke: 2px #000; /* width and color */
  align-items: center;
  color: rgb(43, 139, 146);
  display: flex;
  flex-direction: column;
  font-size: 25px;
  gap: 1rem;
  padding: 0 2rem 2rem 2rem;
  width: 100%;
}
